<header class="navbar navbar-expand-lg fixed-top bg-white shadow-effect">
    <div class="container justify-content-center">
        <a href="#" class="site-logo">
            <img src="https://media.discordapp.net/attachments/1134052885366312964/1235103026621059072/business.png?ex=663326d4&is=6631d554&hm=af19173935adabb477d9c826b90f07fd141134147627a53cf85accbdb788c085&=&format=webp&quality=lossless&width=160&height=160" alt="Khmer Wonder Logo" style="width: 40px; height: 40px;">
        </a>
    </div>

    <!-- =============================================== -->

 
    <div class="container justify-content-center" *ngIf="isLoggedIn$ | async"> 
        <a href="#" class="ml-4"> {{userEmail}} </a>
        <button class="btn btn-sm btn-info bg-secondary-theme text-theme-primary" (click)="out()"> Logout </button>
    </div>
 

    <!-- =============================================== -->
</header>
