<header class="navbar navbar-expand-lg fixed-top bg-white shadow-effect">
    <div class="container justify-content-center">
        <a href="#" class="site-logo">University</a>
    </div>

    <!-- =============================================== -->

 
    <div class="container justify-content-center" *ngIf= " isLoggedIn$ | async "> 
        <a href="#" class="ml-4"> {{userEmail}} </a>
        <button class="btn btn-sm btn-info bg-secondary-theme text-theme-primary" (click)="out()"> Logout </button>
    </div>
 

    <!-- =============================================== -->
</header>
