header {
  a {
    text-decoration: none;
    
  }
    height: 100px;
    .site-logo {
      font-size: 1.5em;
    }
    .ml-4 {
      margin-right: 10px;
      color: var(--body-text-color);
    }
  }
  