<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body text-center bg-secondary-theme shadow-effect">
          <h3 class="text-theme-center text-theme-primry">All Subscribers</h3>
          <p class="text-center mt-4">manage your subscribers.</p>

          <button class="btn btn-warning ml-2" routerLink="/">Back</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-14">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let sub of subArray; let i = index">
                <td>{{ i+1}}</td>
                <td>{{sub.data.name}}</td>
                <td>
                    {{sub.data.email}}
                </td>
        
                <td>
                  <button class="btn btn-sm btn-danger ml-2" (click)="onDel(sub.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
