<div class="container">
    <div class="row">

        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/categories">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primry"><i class="fas fa-search-location"></i></h1>
                    <h2 class="text-theme-primry"> Location </h2>
                    <p>Manage your location Details Here</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/posts">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primry"><i class="fas fa-file-image"></i></h1>
                    <h2 class="text-theme-primry">Post</h2>
                    <p>Manage your Posts Details Here</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/subscribers">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primry"><i class="fas fa-users"></i></h1>
                    <h2 class="text-theme-primry">Subscribers</h2>
                    <p>Manage your subscribers here</p>
                </div>
            </div>
        </div>


        <div class="col-md-6 mb-5">
            <div class="card shadow-effect" routerLink="/location">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primry"><i class="fas fa-clipboard-list"></i></h1>
                    <h2 class="text-theme-primry"> Category </h2>
                    <p>Manage your Category Details Here</p>
                </div>
            </div>
        </div>

       


    </div>
</div>